.wrap {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.main-with-sidebar {
  display: flex;
  align-items: stretch;
}
 
.main-content {
  flex: 1;
  min-width: 0; /* prevents child content from overflowing the row */
}
